# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
{{ include "service" . | indent 0 }}
  keep-alive:
    params:
      {{- if .SidecarKeepAliveMaxConnectionIdle }}
      max-connection-idle: {{ .SidecarKeepAliveMaxConnectionIdle }}
      {{- end }}
      {{- if .SidecarKeepAliveMaxConnectionAge }}
      max-connection-age: {{ .SidecarKeepAliveMaxConnectionAge }}
      {{- end }}
      {{- if .SidecarKeepAliveMaxConnectionAgeGrace }}
      max-connection-age-grace: {{ .SidecarKeepAliveMaxConnectionAgeGrace }}
      {{- end }}
      time: {{ if .SidecarKeepAliveTime }}{{ .SidecarKeepAliveTime }}{{ else }}300s{{ end }}
      timeout: {{ if .SidecarKeepAliveTimeout }}{{ .SidecarKeepAliveTimeout }}{{ else }}600s{{ end }}
    enforcement-policy:
      min-time: {{ if .SidecarKeepAliveMinTime }}{{ .SidecarKeepAliveMinTime }}{{ else }}60s{{ end }}
      permit-without-stream: {{ if .SidecarKeepAlivePermitWithoutStream }}true{{ else }}false{{ end }}
{{ include "rateLimit" . | indent 2 }}
  max-concurrent-streams: {{ .MaxConcurrentStreams | default 0 }}

{{ include "ordererDialConfig" . | indent 0 }}

committer:
{{ include "endpointWithTLS" (dict "Endpoint" .Services.Coordinator.GrpcEndpoint "TLS" .ClientTLS) | indent 2 }}

ledger:
  path: {{ .LedgerPath }}
  sync-interval: 100

notification:
  max-timeout: 10m

last-committed-block-set-interval: 5s
waiting-txs-limit: 20_000_000
channel-buffer-size: 100
